{# {% tag %} - шаблонные теги, которые управляют процессом генерации HTML #}
{# {{ variable }} - переменные шаблона заменяются переданными в контекст значениями в процессе формирования HTML #}
{# {{ variable|filter }} - шаблонные фильтры, которые позволяют изменять переменные контекста #}

{% load static %}
{% load blog_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
<div id="content">
    {% block content %}{% endblock %}
</div>
<div id="sidebar">
    <h2>My blog (sidebar)</h2>
    <p>This is my blog. I've writen {% total_count_posts %} so far.</p>

    <h3>Latest posts</h3>
    {% show_latest_posts %}

    <h3>Most commented posts</h3>
    {% get_most_commented_posts as most_commented_posts %}
    <ul>
        {% for post in most_commented_posts %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>

    <p><a href="{% url "blog:post_feed" %}">Subscribe to my RSS feed</a> </p>
</div>
</body>
</html>